<a href="https://colab.research.google.com/github/wilberquito/NeuralNetworksCompetition2023/blob/main/Code/ML_STUDENT_COMPETITION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [28]:
from pathlib import Path
import pandas as pd
pd.set_option('display.max_columns', None)

train_csv_path = Path('/content/drive/MyDrive/train.csv')
train_df = pd.read_csv(train_csv_path)
train_df.head()

,id,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,f_10,f_11,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_27,f_28,f_29,f_30,target
0,493553,0.315471,-0.183690,0.664383,-1.186794,0.665098,0.946208,0.729857,0,4,1,3,1,2,4,1,5,2,0,1,-3.690715,-0.628005,-2.832295,-1.409039,3.645067,0.233039,-3.754846,-1.061733,BDBBCACIBB,20.308715,1,0,0
1,237346,-1.286392,1.780592,0.576698,-2.690658,1.321997,-0.675894,0.371070,3,0,3,3,5,3,2,0,1,6,0,1,0.664517,-2.871912,3.826628,3.087653,0.494209,3.210875,-0.666457,0.123854,ACBDCBCADA,-449.291063,1,0,0
2,37368,-0.290303,-0.485907,0.808350,-0.156288,1.083632,-1.129914,0.767396,3,1,3,2,3,4,1,1,1,0,2,6,-0.494988,-0.946303,2.333223,2.084169,-4.782668,-1.671375,2.774382,2.273130,AABBABCLAF,-86.206118,0,1,1
3,665220,1.243590,0.035112,-1.013236,0.854267,0.019192,0.597892,-2.020416,2,0,4,5,0,5,1,0,3,1,1,3,-3.066427,-2.430158,-0.185332,-0.701691,-2.769142,-6.534231,-0.557677,-0.429972,ADBBABEEBA,-30.157403,0,2,1
4,41499,0.702716,0.817044,-0.064907,-1.045483,0.718374,0.164451,-0.936620,1,2,2,2,2,5,0,3,1,1,2,4,-1.899984,1.427460,-4.992610,1.154162,-1.931443,2.325042,2.143811,-1.039599,ABBBBBCMBB,296.484562,0,2,1

In [29]:
import torch
import torch.nn as nn

device = 'cuda' if torch.cuda.is_available() else 'cpu'
print(device)

cpu

In [30]:
X, y = train_df.drop(['target', 'f_27', 'id'], axis=1), train_df['target']
X.shape, y.shape

((810000, 30), (810000,))

In [32]:
X.describe()

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,f_10,f_11,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_28,f_29,f_30
count,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000
mean,0.000368,0.001564,0.000306,-0.001910,-0.000820,0.000644,-0.000971,2.032086,2.057980,2.362590,2.177847,1.804038,2.842322,2.239307,1.515411,2.101359,2.096502,1.857758,2.065975,0.307220,-0.178796,-0.156877,-0.009749,-0.369114,-0.342708,0.175932,0.356640,-0.448086,0.345565,1.002373
std,0.998719,0.999402,1.000892,1.000081,1.000000,0.999999,0.999535,1.656749,1.590698,1.637473,1.645519,1.537589,1.762672,1.537712,1.359798,1.568952,1.559978,1.467507,1.565593,2.314858,2.400672,2.484487,2.450494,2.454113,2.387102,2.416753,2.476792,238.735832,0.475553,0.818851
min,-4.599856,-4.682199,-4.642676,-4.628484,-4.748501,-4.750214,-4.842919,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-11.280941,-11.257917,-12.183785,-11.853530,-12.301097,-11.416189,-11.918306,-14.300577,-1229.753052,0.000000,0.000000
25%,-0.674386,-0.674814,-0.674948,-0.676899,-0.676212,-0.672953,-0.675204,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.236465,-1.804803,-1.819358,-1.645711,-2.019762,-1.956021,-1.440454,-1.262614,-159.456219,0.000000,0.000000
50%,0.002005,0.002531,0.001148,-0.002556,-0.001907,0.000071,-0.001630,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,0.329103,-0.189919,-0.153055,0.030148,-0.390120,-0.342316,0.160621,0.405216,-0.573352,0.000000,1.000000
75%,0.674684,0.675737,0.676736,0.671851,0.672968,0.675826,0.673790,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,1.878621,1.444271,1.506658,1.660455,1.257267,1.266450,1.794780,2.028263,158.941960,1.000000,2.000000
max,4.749301,4.815699,4.961982,4.454920,4.948983,4.971881,4.822668,15.000000,16.000000,14.000000,14.000000,13.000000,16.000000,12.000000,14.000000,14.000000,15.000000,12.000000,13.000000,11.108150,11.475325,12.029242,11.344080,12.247100,12.389844,12.529179,12.913041,1229.562577,1.000000,2.000000

In [33]:
X = (X - X.min()) / (X.max() - X.min())
X.describe()

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,f_10,f_11,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_28,f_29,f_30
count,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000,810000.000000
mean,0.492047,0.493137,0.483409,0.509344,0.489579,0.488666,0.500947,0.135472,0.128624,0.168756,0.155560,0.138772,0.177645,0.186609,0.108244,0.150097,0.139767,0.154813,0.158921,0.517581,0.487353,0.496712,0.510560,0.486064,0.465154,0.494703,0.538599,0.499857,0.345565,0.501186
std,0.106824,0.105223,0.104209,0.110100,0.103120,0.102858,0.103412,0.110450,0.099419,0.116962,0.117537,0.118276,0.110167,0.128143,0.097128,0.112068,0.103999,0.122292,0.120430,0.103392,0.105602,0.102610,0.105636,0.099971,0.100273,0.098855,0.091013,0.097074,0.475553,0.409425
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.419874,0.421923,0.413105,0.435033,0.419932,0.419381,0.431191,0.066667,0.062500,0.071429,0.071429,0.076923,0.125000,0.083333,0.000000,0.071429,0.066667,0.083333,0.076923,0.448633,0.415828,0.428052,0.440037,0.418822,0.397385,0.428586,0.479097,0.435201,0.000000,0.000000
50%,0.492222,0.493239,0.483497,0.509273,0.489467,0.488607,0.500879,0.133333,0.125000,0.142857,0.142857,0.153846,0.187500,0.166667,0.071429,0.142857,0.133333,0.166667,0.153846,0.518558,0.486864,0.496870,0.512280,0.485208,0.465171,0.494076,0.540384,0.499806,0.000000,0.500000
75%,0.564173,0.564118,0.553837,0.583519,0.559059,0.558114,0.570758,0.200000,0.187500,0.214286,0.214286,0.230769,0.250000,0.250000,0.142857,0.214286,0.200000,0.250000,0.230769,0.587767,0.558750,0.565416,0.582559,0.552316,0.532749,0.560920,0.600025,0.564667,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
y.value_counts()

0    415945
1    394055
Name: target, dtype: int64

In [35]:
X = X.to_numpy()
y = y.to_numpy()
X = torch.from_numpy(X).type(torch.float)
y = torch.from_numpy(y).type(torch.float)

In [36]:
type(X), type(y)

(torch.Tensor, torch.Tensor)

In [37]:
X.shape, y.shape

(torch.Size([810000, 30]), torch.Size([810000]))

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

(torch.Size([648000, 30]),
 torch.Size([162000, 30]),
 torch.Size([648000]),
 torch.Size([162000]))

In [38]:
class BinaryClassifier(nn.Module):

  def __init__(self, input_features=30):
    super().__init__()
    self.model = nn.Sequential(
        nn.Linear(in_features=input_features, out_features=128),
        nn.Tanh(),
        nn.Linear(in_features=128, out_features=128),
        nn.Tanh(),
        nn.Linear(in_features=128, out_features=64),
        nn.Tanh(),
        nn.Linear(in_features=64, out_features=64),
        nn.Tanh(),
        nn.Linear(in_features=64, out_features=1),
    )